server {
  listen 80 {{ 'default_server' if main_server }};
  listen [::]:80 {{ 'default_server' if main_server }};
  server_name {{ domain }};
  root /var/www/{{ domain }};
  location / {
    try_files $uri $uri/ =404;
  }

  location /hls {
            proxy_pass http://{{ streamer_ip }}:8080/hls;
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto $scheme;

            add_header Cache-Control no-cache;
            add_header Access-Control-Allow-Origin *;
        }
}